
# Heavyweight documents
*.odt
*.pdf

# Raw data
*.paths
*.paths.gz
*.paths.txt
*.paths.txt.gz
*.warc.wat
*.warc.wat.gz
*.warc.wet
*.warc.wet.gz
*.warc
*.warc.gz

# Generated data
*.links

# Python environment
env/
*.pyc

# Intermediates for reports
report/*.bbl
report/*.blg
report/*.aux
report/*.log
report/*.out
report/*.cls
slides/reveal.js*

